<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="GELF" class="de.siegmar.logbackgelf.GelfTcpAppender">
		<graylogHost>localhost</graylogHost>
		<graylogPort>12201</graylogPort>
		<encoder class="de.siegmar.logbackgelf.GelfEncoder">
			<includeRawMessage>false</includeRawMessage>
			<includeMarker>true</includeMarker>
			<includeMdcData>true</includeMdcData>
			<includeCallerData>false</includeCallerData>
			<includeLevelName>true</includeLevelName>
			<staticField>application:ship-o-hoi</staticField>
		</encoder>
	</appender>

	<springProfile name="!prod">
		<root level="INFO">
			<appender-ref ref="STDOUT" />
		</root>
	</springProfile>

	<springProfile name="prod">
		<root level="INFO">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="GELF" />
		</root>
	</springProfile>
</configuration>
